body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,h3 {
  color: white;
}

input {
  color: black;
}

.matching, .stitching {
  height: 500px;  
  overflow-x: scroll;
  overflow-y: scroll;
}

#result .row div {
  border: 1px solid white
}

